
html {
  box-sizing: border-box;
}
.container {
  padding: 20px;
}

.componente {
  border: 1px solid black;
  padding: 10px;
  margin: 10px 0px;
}

span{
  margin: 0 10px 0 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5em;

}

button.year {
  appearance: none;
  -webkit-appearance:none;

  border: none;
  background-color: gray;
  color: antiquewhite;

  padding: 10px;
  height: 50px;
  width: 150px;
  font-size: 1.2em;
}

input[type=number].textYear {
  width: 300px;
  padding: 20px 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5em;
  text-align: center;
  border: 2px solid black;
}


.usuarios{
  margin: 50px;
  border: 1px solid #ccc;
  float: left;
  width: 200px;
}

figure.usuarios img {
  width: 100%;
  height: auto;
}

figcaption{
  padding: 15px;
  text-align: center;
}

.clearlist {
  clear:both;
  margin:0 410px 0 34px;  

}

.error {
  border: 1px solid red;
  text-align: center;
  color: red;
  font-size: 3em;
  
}

input[type=text], select, textarea{
  display: block;
  margin: 10px;
  padding: 5px;
  min-width: 250px;
  max-width: 250px;
}

/* input[type=submit]{
  display: block;
  width: 260px;
  margin: 10px;
  padding: 5px;
  height: 50px;
  appearance: none;
  border: 1px solid slategray;
} */

.info {
  display: block;
  width: 300px;
  height: 50px;
  background-color: rgb(58, 70, 82);
  color: #ccc;
  padding: 5px;
  font-size: 1.5em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
